* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* header da sistemare in fase di debugs */

header {
    display: flex;
    min-height: 50px;
    border: solid 1px red;
    background-color: rgb(166, 217, 233);
    justify-content: center;
    align-items: center;
}

.header-left {
    border: solid 1px black;
    background-color: rgb(255, 167, 0);
}

.header-center {
    border: solid 1px black;
    width: 70%;
    background-color: rgb(255, 167, 0);
    text-align: center;
}

.header-right {
    border: solid 1px black;
    background-color: rgb(255, 167, 0);
}


/* blocchi centrali della pagina, con */

.centroviola {
    display: flex;
    min-height: 300px;
    border: solid 1px red;
    background-color: rgb(25, 0, 145);
    justify-content: center;
    align-items: center;
}

.qviola {
    background-color: blueviolet;
    width: 600px;
    height: 150px;
    border: solid 1px white;
}

/* da sostituire nomenclatura classi */

.blurosa {
    display: flex;
    min-height: 300px;
    border: solid 1px red;
    justify-content: center;
    align-items: center;
}

.azzurro {
    background-color: rgb(43, 180, 226);
    width: 700px;
    height: 250px;
    border: solid 1px black;
}

.rosa {
    background-color: rosybrown;
    width: 400px;
    height: 250px;
    border: solid 1px black;
}

.rosablu {
    display: flex;
    min-height: 300px;
    border: solid 1px red;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

/* blocco con quadrato verde */

.centroverde {
    display: flex;
    min-height: 300px;
    border: solid 1px red;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

.qverde {
    background-color: green;
    width: 1100px;
    height: 1100px;
    border: solid 1px black;
}